<div id="message" class="custom-toast success" *ngIf="blocktoster">
    <a class="btn-close" (click)="closeToster()" style="cursor: pointer;"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
    <p style="    margin: 0px;
    font-size: 22px;">{{ tosterMessage }}</p>
</div>
<div id="message" class="custom-toast error" *ngIf="blocktostererror">
    <a class="btn-close" (click)="closeToster()" style="cursor: pointer;"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
    <p style="    margin: 0px;
    font-size: 22px;">{{ tosterMessageerror }}</p>
</div>

<header style="background-color: rgb(0, 0, 0);">
    <div class="d-flex align-items-center justify-content-between pe-3">
        <a href="/">
            <img src="/assets/images/logos/{{siteName}}.webp" alt="" class="header_logo">
        </a>
        <div class="logo_sign">
            <a href="{{ 'https://ag.' + origin + '/#/login' }}" target="_blank" class="af-login">Login</a>
            <a href="" class="af-login">Signup</a>
        </div>
    </div>
</header>


<div class="background">
    <div class="form-container">
        <h2>Affiliate agent</h2>
        <form [formGroup]="userRegForm" (ngSubmit)="register()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username"
                    formControlName="userName">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <div class="input-group">
                    <input [type]="visiblePassword ? 'text' : 'password'" formControlName="password" type="password"
                        id="password" name="password" placeholder="Enter your password">
                    <span class="input-group-text" (click)="showPassword()" style="cursor: pointer;">
                        <i class="fa fa-eye-slash" *ngIf="!visiblePassword" aria-hidden="true" style="color: #000"></i>
                        <i class="fa fa-eye" aria-hidden="true" *ngIf="visiblePassword"></i>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="confirm-password">Confirm Password</label>
                <div class="input-group">
                    <input [type]="visibleconfirm ? 'text' : 'password'" formControlName="con_password" type="password"
                        id="confirm-password" name="confirm-password" placeholder="Confirm your password">
                    <span class="input-group-text" (click)="showconfirm()" style="cursor: pointer;">
                        <i class="fa fa-eye-slash" *ngIf="!visibleconfirm" aria-hidden="true" style="color: #000"></i>
                        <i class="fa fa-eye" aria-hidden="true" *ngIf="visibleconfirm"></i>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="full-name">Full Name</label>
                <input formControlName="fullName" type="text" id="full-name" name="full-name"
                    placeholder="Enter your full name">
            </div>

            <div class="form-group">
                <label for="phone-number">Phone Number</label>
                <input type="tel" id="phone-number" name="phone-number" placeholder="Enter your phone number"
                    formControlName="phoneNumber">
                <!-- <div class="flag-dropdown ">
                    <div class="selected-flag" title="Afghanistan: + 93" tabindex="0" role="button"
                        aria-haspopup="listbox">
                        <div class="flag af">
                            <div class="arrow"></div>
                        </div>
                    </div>
                </div> -->
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email address"
                    formControlName="email">
            </div>

            <div class="form-group">
                <label for="referral-code">Referral Code (Optional)</label>
                <input formControlName="referredBy" type="text" id="referral-code" name="referral-code"
                    placeholder="Enter referral code (if any)">
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</div>